<header class="heroic">
  <div class="container">
    <div class="heroic-inner">
      <h1 class="lv-script">Champorn</h1>
    </div>
  </div>
  <div class="unslider">
  	<span class="bg" style="background-image: url('images/sunset.jpg');"></span>
  	<span class="bg" style="background-image: url('images/shop.jpg');"></span>
  	<span class="bg" style="background-image: url('images/wood.jpg');"></span>
  	<span class="bg" style="background-image: url('images/subway.jpg');"></span>
  </div>
</header>