	<footer>
	  <div class="inner">
	    <aside class="third">
	    	<ul>
	    		<li>8214 Industry Ave.</li>
	    		<li>Chamonix, FR</li>
	    		{{ if site_phone }}<li>{{ site_phone }}</li> {{ endif }}
	    		<li><a href="mailto:{{ site_email }}">{{ site_email }}</a></li>
	    	</ul>
	    </aside>
	    <aside class="sixth">
	    	<ul class="horizontal">
	    		<li><a href="#">Shop</a></li>
	    		<li><a href="http://facebook.com/{{ site_facebook }}">Facebook</a></li>
	    		<li><a href="http://twitter.com/{{ site_twitter }}">Twitter</a></li>
	    		<li><a href="http://instagram.com/{{ site_instagram }}">Instagram</a></li>
	    	</ul>
	    </aside>
	    <aside class="third"><a href="#"><img src="{{ theme:img src="chx-gray.png" }}" alt="" class="logo"></a></aside>
	    
	    <small>&copy; 2014 <a target="_blank" href="http://twitter.com/{{ site_twitter }}">{{ site_name }}</a></small>
	  </div>
	</footer>

<script src="{{ theme:js src="jquery-2.1.1" }}"></script>
<script src="{{ theme:js src="nav" }}"></script>
<script src="{{ theme:js src="retina" }}"></script>

