	<footer>
	  <div class="inner">
	    <aside class="third">
	    	<ul>
	    		<li>8214 Industry Ave.</li>
	    		<li>Chamonix, FR</li>
	    		<li>+0X XX XX XX XX</li>
	    		<li><a href="mailto:fakeaddress@chx.xxx">contact@chx.xxx</a></li>
	    	</ul>
	    </aside>
	    <aside class="sixth">
	    	<ul class="horizontal">
	    		<li><a href="#">Shop</a></li>
	    		<li><a href="#">Facebook</a></li>
	    		<li><a href="#">Twitter</a></li>
	    		<li><a href="#">Instagram</a></li>
	    	</ul>
	    </aside>
	    <aside class="third"><a href="#"><img src="/images/logos/chx-gray.png" alt="" class="logo"></a></aside>
	    
	    <small>&copy; 2014 <a target="_blank" href="http://twitter.com/champorn">Champorn</a></small>
	  </div>
	</footer>

<!-- Not Porn Links -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/min/retina-ck.js"></script>

</body>
</html>