<!DOCTYPE html>
<html>
  <head>
    <title>chx.xxx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    
    <link rel="icon" type="image/png" href="/images/favicons/CHX-32x32.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/sex.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    <!-- JS
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
  </head>
  <body>
    <nav id="dark">
      <div class="container">
        <a href="#"><img src="/images/logos/chx-block.png" alt="" class="logo"></a>
        <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
      <div>

      <div id="navigation">
        <ul>
          <li><a href="/" class="criss" title="Stories">Home</a></li>
          <li><a href="/article" class="criss" title="Stories">Stories</a></li>
          <li><a href="/photoblog" class="criss" title="Lookbook">Lookbook</a></li>
          <li><a href="/shop" class="criss" title="The Shop">Shop</a></li>
          <li><a href="/about" class="criss" title="About">About</a></li>
          <li><a href="/contact" class="criss" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
    </nav>