<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ _site_name }}
      {{ if segment_1 }}
      – {{ title }}
      {{ endif }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
        
    <!-- styles -->
    {{ theme:css src="sex" tag="true" }}
    {{ theme:css tag="true" }}
    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.png" }}">
  </head>
  <body>
    
    {{ nav from="/" }}<a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ endif }}>{{ title }}</a>{{ /nav }}

    <div id="blur">
     {{ layout_content }}
    </div>

		{{ theme:partial src="_footer" }}

</body>
</html>