<!-- @include partials/header.kit -->
    <div id="blur">
      <header class="heroic">
      </header>

      <article class="letter">
        <header role="article-head">
          <h6>A Letter From The Editor</h6>
          <h1>On Champorn and Alpinism</h1>
        </header>
        <section>
          <p>Most brands incorporate sex into their marketing, so the purpose of being so absolutely blatant about it with Cham-porn is to essentially mock what companies like Abercrombie &amp; Fitch try to walk the line on. In fact, the A&amp;F Christmas catalogs offer an excellent basis for what "alpine pornography" could be. We will admit right up front that we are in fact pornographers (though not really). Also, "pornography" plays on the point being argued in the main narrative of the sponsored athlete&mdash;that there exists a conflict in the outdoor arena about bringing in too much technology and social media, which devalues the purity activity (in some people's eyes), leaving nothing left to the imagination. </p>
          <p>The vast majority of Cham&dash;porn's products are only sold in Chamonix, France, as a way to establish exclusivity and maintain a premium for the brand. Some items, like t&dash;shirts, can be purchased online.</p>

          <p>Initial product will just be given away to friends and others who assist with the brand and development. This brand will need to grow slowly and quietly. People need to ask, what is that? And then go online and find it, and its rabbit hole of a story. </p>
          <img class="signature" src="/images/logos/etienne%20sig.png" alt="">
        </section>
      </article>
    </div>

<!-- @include partials/footer.kit -->