<div id="blur">
  <header class="heroic">
    <div class="container">
      <div class="heroic-inner">
        <h1 class="lv-script">Champorn</h1>
      </div>
    </div>
{{#     <div class="unslider">
      <span class="bg" style="background-image: url('images/sunset.jpg');"></span>
      <span class="bg" style="background-image: url('images/shop.jpg');"></span>
      <span class="bg" style="background-image: url('images/wood.jpg');"></span>
      <span class="bg" style="background-image: url('images/subway.jpg');"></span>
    </div> #}}
  </header>

  <article class="main">

    <section class="block-1">
      <p>{{ description }}</p>
    </section>

    <section class="block">
      <div style="background-image: url(http://placeimg.com/600/600/nature);" class="img-500 leftie">
      </div>
      <aside class="rightie">
        <h2>The Chamonix Experience</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quis quod autem laborum ratione quasi ducimus animi accusamus exercitationem libero minus eveniet similique soluta voluptate provident, eaque sint fugit excepturi optio nemo blanditiis vel consequuntur...</p>
        <a href="/article" class="button">Read More</a>

      </aside>
    </section>

    <section class="block">
      <aside class="leftie">
        <h2>Apres Ski</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illo placeat minima dolorem, nam atque vero. Voluptatem sint accusamus error, earum doloremque assumenda, ipsa dolore provident aut repudiandae tempore sunt! Iusto, voluptatem.</p>
        <a href="/article" class="button">Read More</a>
      </aside>
      <div class="img-trio rightie">
        <div style="background-image: url(http://placeimg.com/600/400/nature)" class="full"></div>
        <div style="background-image: url(http://placeimg.com/300/300/nature)" class="bottom"></div>
        <div style="background-image: url(http://placeimg.com/300/300/nature)" class="bottom"></div>
      </div>
    </section>

    <section class="block">
      <figure class="spread">
        <div style="background-image: url(http://placeimg.com/1200/800/nature)" class="spread-image"></div>
        <figcaption class="info">
          <h3>View Our Fall Lookbook</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ducimus.</p>
        </figcaption>
      </figure>
    </section>
    
  </article>