<div id="blur">
  <header class="heroic">
  </header>

  <article class="photoblog">
    <header role="article-head">
      <h6>Shooting the Alps</h6>
      <h1>An Adventure in Chamonix</h1>
    </header>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aspernatur fugiat delectus, sit voluptates omnis perferendis facilis saepe consequuntur voluptate. Illo, laborum rerum quibusdam quae magni rem eos odio sequi, eius ab accusamus voluptas quia cumque ad similique ducimus, facere asperiores assumenda eligendi placeat explicabo dolorum autem. Rerum, repellat, vel.</p>
      <p>Aliquid dignissimos earum fugiat saepe voluptatum laborum, aspernatur doloribus ipsam provident dolorem obcaecati quas architecto. Aut repudiandae incidunt eum temporibus ipsa eveniet qui perspiciatis, assumenda minima earum modi culpa alias similique, beatae numquam tenetur quo expedita, rem excepturi iste adipisci unde illum accusamus laudantium dignissimos. Expedita excepturi obcaecati sapiente quasi.</p>
      <figure>
        <figcaption>This is the photo I took. Neato.</figcaption>
        <img alt="" src="http://placehold.it/1200x800/2b6fe8/ffffff.png" />
      </figure>
    </section>
  </article>
</div>